.height-container11{
 height:750px
}
.grid1{
 display:grid;
 grid-template-rows:6fr 6fr;
 }

 .img-potision{
  position:relative;
  left: 200;
 }
.main-container{
 display:grid;
 grid-template-rows:3fr 9fr;
 }

.second-container{
 display:grid;
 grid-template-columns:8fr 4fr;
}

.third-container{
 display:grid;
 grid-template-rows:6fr 6fr;
}

.top-image{
 width:max-width;
 height:auto;
 }

.fontsize{
    font-size: 15px;
}

.fontsize2{
    font-size: 15px;
}
.img1{
    margin-bottom: 20px;
    display:-webkit-flex;
    display:flex
    
}
.img1 img{width:calc(100%/2);}
.padding1{
    padding:0px 0px 0px 30px;
}

.padding2{
    padding:0px 30px 0px 0px;
}

.inline-block_test{
    display: inline-block;
}

.moji_color1{
    color: #e6b422;
    font-weight: bold;
}



.square_blue1{
    width:1000p15;
    height:10px;
    background: #ba2636;
}

.square_blue2{
    width:1100px;
    height:10px;
    background: #ba2636;
}

.square_blue3{
    width:1100px;
    height:10px;
    background: #ba2636;
}

.moji_color2{
    color: #ba2636;
}


.moji_size1{
    font-size : 20px;
}


.fontsize3{
    font-size : 40px;
}

.img_size2{
    width: 50px;
    position: relative;
    top: 15px;
}

.position1{
    position:relative;
    top: 850px;

    
}

.position2{
    position:relative;
    top: 1400px;

    
}

.position3{
    position:relative;
    top: 830px;
}

.position4{
    position:relative;
    top: -200px;
    right: -200px
}





