<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<head>
    <meta charset="UTF-8">
    <title>craft</title>
</head>
<body>
    
    <h1>{{ title }}で出てくる工芸品</h1>
    {% block content %}
    {% block layout %}
    <ul class="list-unstyled"></ul>
    {% for crafts in anime %}
    {% for craft,data in crafts.items() %}
        <li class="media">
            <img class="rounded" src={{data.img_link}} width = "200" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{craft}}</h5>
                {% for line in data.description %}
                <p>{{line}}</p>
                {% endfor %}
                <input type="button"　onClick=junp_page({{craft}})  value={{craft}}の体験申し込み class="btn btn-primary btn-lg">
            </div>
        </li>
        <br>
    {% endfor %}
    {% endfor %}
    {% endblock %}
    {% endblock %}
</body>
</html>
