<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>craft</title>
    <link rel="stylesheet" href="../static/css/craft.css">
</head>
<body class=back>


    <h1>{{ title }}で出てくる工芸品</h1>
    {% for crafts in anime %}
    {% for craft,data in crafts.items() %}
    <div class=block1>
    <img src={{data.img_link}} width=200>
                <h5 class="mt-0 mb-1">{{craft}}</h5><br>
                <p>{{data.description}}</p>
                <div class=margin-right>
                    <a class="btn btn-outline-secondary" role="button" onclick=junp_page()>{{craft}}の体験申し込み</a>
                </div>
    </div>
        <br>
    
    

    {% endfor %}
    {% endfor %}
    <script>
    function junp_page(){
        location.href = "/detail/陶芸体験";
    }
    </script>


</body>
</html>
