<html>
  <head>
    <link rel="stylesheet" href="../static/css/detail.css">
  </head>
  <body>
    <div class="height-container">
      <div class="main-container">
        <div>
		<img src="./static/images/detail-main.jpg" class="top-image">
        </div>
	<div class="second-container">
	  <div class="third-container">
	    <div>
	      <h1>陶芸体験</h1>
	      <p>日本の伝統工芸の一つである陶芸。世界最古の土器が発見されたと言われる日本には、歴史ある陶芸の産地が数多くあります。今回は陶芸を日帰りで体験できるプランを用意しました。</p>
	    </div>
	    <div>
	    </div>
	  </div>
	  <div>
		  <img src="./static/images/button.png" onclick="location.href=`https://docs.google.com/forms/d/1v3fVn2z8c9IfnjiXJyQA_1dEu7MAmtefl3ErtT__fWM/edit`">
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>

