<html>
  <head>
    <link rel="stylesheet" href="/static/css/detail-experience.css">
  </head>
  <body>
    <!--header>
     <p>サイトの名前</p>
    </header-->
    <div class="containerA">
      <div>
        <h1>{{ title }}</h1>
      </div>
      <div class="containerB">
        <div>
          <img src={{details.img_link}} width = "200">
        </div>
        <div>
          <h3>{{details.sub_title}}</h3>
          {% for detail in details.description %}
          <p>{{detail}}</p>
          {% endfor %}
          <input type="button" value="応募する">
        </div>
      </div>
    </div>
  </body>
</html>
