<html>
  <head>
    <link rel="stylesheet" href="/static/css/detail-experience.css">
  </head>
  <body>
    <!--header>
     <p>サイトの名前</p>
    </header-->
    <div class="containerA">
      <div>
        <h1>日帰りで陶芸体験</h1>
      </div>
      <div class="containerB">
        <div>
          <img src="/static/images/test.jpg">
        </div>
        <div>
          <h3>タイトル</h3>
          <p>これはテストです。ここには体験の内容をつらつらと書く予定です。わああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
          </p>
          <input type="button" value="応募する">
        </div>
      </div>
    </div>
  </body>
</html>
