<html>

<head>
    <link rel="stylesheet" href="../static/css/detail.css">
</head>

<body>


    <div class="height-container">
        <div class="main-container">

            <div class="img1">
                <img src="../static/images/detail-main.jpg" alt="" />
                <img src="../static/images/detail-main.jpg" alt="" />
            </div>

            <div class="second-container">
                <div>
                    <div>
                        <div class="fontsize2">
                            <div class="padding1">
                                <h1>
                                    <div class="fontsize3">陶<span class="moji_color1">芸</span>体験
                                        <!--div class="img_size2"--><img src="../static/images/sara.png" alt="" class="img_size2" /></div>
                                    <!--/div-->
                                </h1>

                            </div>
                        </div>


                        <div class="padding1">

                            <div class="square_blue1"></div>
                            <div class="fontsize">
                                <p>日本の伝統工芸の一つである<span class="moji_color1"><span class="moji_size1">陶芸</span></span>。<br>世界最古の土器が発見されたと言われる日本には、<br>歴史ある陶芸の産地が数多くあります。<br>今回は陶芸を<span class="moji_color1"><span class="moji_size1">日帰り</span></span>で体験できるプランを用意しました。</p>
                            </div>

                            <div class="square_blue1"></div>
                        </div>

                    </div>
                    <div>
                        <div class="fontsize">
                            <div class="padding1">


                                <h1><span class="moji_color1"></span>地図<span class="moji_color1"></span>
                                    <img src="../static/images/tizu.png" alt="" class="img_size2" /></h1>

                            </div>
                        </div>
                        <div class="padding1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.5755203524773!2d130.42177501520305!3d33.59036888073404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354191c906ce4b85%3A0x4c3f5161703f8ea7!2z56aP5bKh55yMUnVieeODu-OCs-ODs-ODhuODs-ODhOeUo-alreaMr-iIiOOCu-ODs-OCv-ODvA!5e0!3m2!1sja!2sjp!4v1567002267035!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                <div class="padding2">
                    <div class="position1">
                        <div class="square_blue3"></div>
                    </div>

                    <div class="position2">
                        <div class="square_blue3"></div>
                    </div>
                    <div class="position3">
                        <div class="fontsize">
                            <h2>連絡先</h2>
                            <h3>keisuke071411@icloud.com</h3>
                            <h3>電話番号</h3>
                            <h4>080-8380-1686</h4>
                        </div>
                    </div>

                    <div class="position4">

                        
                        <img src="../static/images/button.png" onclick="location.href=`https://docs.google.com/forms/d/1v3fVn2z8c9IfnjiXJyQA_1dEu7MAmtefl3ErtT__fWM/edit`">
                        
                    </div>

                </div>
            </div>
        </div>
    </div>


</body>

</html>
