<html>
  <head>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link rel="stylesheet" href="/static/css/detail-experience.css">
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
        Primary title
          </h1>
          <h2 class="subtitle">
        Primary subtitle
          </h2>
        </div>
      </div>
    </section>
    <div class="containerA">
      <div>
        <h1>日帰りで陶芸体験</h1>
      </div>
      <div class="containerB">
        <div>
          <img src="/static/images/test.jpg">
        </div>
        <div>
          <h3>タイトル</h3>
          <p>これはテストです。ここには体験の内容をつらつらと書く予定です。わああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
          </p>
          <input type="button" class="button is-rounded is-primary"value="応募する">
        </div>
      </div>
    </div>
  </body>
</html>
