<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="./static/css/top2.css">
    
    
<title>アニメ工芸品のトップページ</title>
</head>
<body>
    <div class="high-container">
      <div class="main-container">
        <div>
          <img src="./static/images/title.jpg">
	</div>
        <div class="padding" >
	    <div>
	      <h1>好きなアニメから検索する</h1>
	    </div>
            <div class="second-container">
              {% for title,link in anime_link.items()%}
              <div class="box">
                <img src={{link}} onclick=jump({{title|tojson}}) width="300" class="box-img">
                <p class="toptoptop">{{title}}</p>
              </div>
              {% endfor %}
	    </div>
        </div>
      </div>
    </div>

<script>
function jump(title){
  location.href="/craft/"+title;
}
</script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
