<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="../static/css/top.css">
    
    
<title>アニメ工芸品のトップページ</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <h1>アニメ工芸品トップページ</h1>

    <div class="hoge">

         <div class = "test">
          <p>ハナヤマタ</p>
          <img src="./static/images/naruko.png" onclick="location.href='craft'" alt="アニメの写真" title="アニメの写真">
        </div>
        
        <div class = "test">
          <p>アニメタイトル2</p>
          <img src="images/anime2.jpg" alt="アニメの写真" title="アニメの写真">
        </div>

        <div class = "test">
          <p>アニメタイトル3</p>
          <img src="images/anime3.jpg" alt="アニメの写真" title="アニメの写真">
        </div>

        </div>

    </div>

  <div class = "test">
        <p>アニメタイトル4</p>
<img src="images/anime4.jpeg" alt="アニメの写真" title="アニメの写真">


</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
